{% extends "layout.html" %} {% block content %}
<div class="card mb-3">
  <h3 class="card-header">{{ community.getName() }}&nbsp;
  </h3>
  <form action="/community/{{ community.getName() }}" method="post">
    {% if community.userHasJoined(user)  %}
    <input type="submit" name="join" value="Leave Community" style="font-size:18px;">
    {% elif community.userHasJoined(user) == false %}
    <input type="submit" name="join" value="Join Community" style="font-size:18px;">
    {% endif %}
  </form>
  <div>
    <ul>
      {% for i in community.getUsers() %}
      <li>{{ user }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">
    <div class="card border-secondary mb-3">
      <div class="d-grid gap-2 text-center">
        <div class="container mt-5">
          <div class="row">
            <div class="col">
              <h2 class="text-center underline">Top Collections in {{ community.getName() }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col border">
              <div class="row">
                <div class="col"><h3 class="text-center">Post Title</h3></div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="row"><div class="col">Post Body</div></div>
                  <div class="row"><div class="col">Post Reactions</div></div>
                </div>
              </div>
            </div>
            <div class="col border">
              <div class="row">
                <div class="col"><h3 class="text-center">Post Title</h3></div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="row"><div class="col">Post Body</div></div>
                  <div class="row"><div class="col">Post Reactions</div></div>
                </div>
              </div>
            </div>
            <div class="col border">
              <div class="row">
                <div class="col"><h3 class="text-center">Post Title</h3></div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="row"><div class="col">Post Body</div></div>
                  <div class="row"><div class="col">Post Reactions</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <div class="row">
            <div class="col">
              <h2 class="text-center underline">Top Posts in {{ community.getName() }}</h2>
            </div>
          </div>
          <div class="row">
            <div class="col border">
              <div class="row">
                <div class="col"><h3 class="text-center">Post Title</h3></div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="row"><div class="col">Post Body</div></div>
                  <div class="row"><div class="col">Post Reactions</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          {%endblock content %}
    </div>
  </div>
</div>