{% extends "layout.html" %} {% block content %}
<div class="container">
  {% for msg in get_flashed_messages() %}
  <div class="alert alert-success" role="alert">{{ msg }}</div>
  {% endfor %}
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h2 class="text-center underline">Top/Recent Collection Items</h2>
      </div>
    </div>
    <div class="row">
      <div class="col border">
        <div class="row">
          <div class="col"><h3 class="text-center">Post Title</h3></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row"><div class="col">test</div></div>
            <div class="row"><div class="col">Post Reactions</div></div>
          </div>
        </div>
      </div>
      <div class="col border">
        <div class="row">
          <div class="col"><h3 class="text-center">Post Title</h3></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row"><div class="col">Post Body</div></div>
            <div class="row"><div class="col">Post Reactions</div></div>
          </div>
        </div>
      </div>
      <div class="col border">
        <div class="row">
          <div class="col"><h3 class="text-center">Post Title</h3></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row"><div class="col">Post Body</div></div>
            <div class="row"><div class="col">Post Reactions</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col text-center">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            All Communities
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Community</a>
            <a class="dropdown-item" href="#">Community</a>
            <a class="dropdown-item" href="#">Community</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <h2 class="text-center underline">Most Popular Communities</h2>
      </div>
    </div>
    <div class="row">
      <div class="col border">
        <div class="row">
          <div class="col"><h3 class="text-center">Community Name</h3></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row"><div class="col">Community Description</div></div>
            <div class="row"><div class="col">Extra Info</div></div>
          </div>
        </div>
      </div>
      <div class="col border">
        <div class="row">
          <div class="col"><h3 class="text-center">Community Name</h3></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row"><div class="col">Community Description</div></div>
            <div class="row"><div class="col">Extra Info</div></div>
          </div>
        </div>
      </div>
      <div class="col border">
        <div class="row">
          <div class="col"><h3 class="text-center">Community Name</h3></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row"><div class="col">Community Description</div></div>
            <div class="row"><div class="col">Extra Info</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock content %}
