{% extends "layout.html" %} {% block content %}
<style>
    img{
    margin: auto !important;
    display: block;
    width: 400px;
    height: auto;
    }
    #mainBox {
        width: 50%;
        margin: auto;
        background-color: MediumTurquoise;
        min-height: 100%;
    }

    #mainBox ul {
        display: none;
    }



    #mainBox h2,h3,h1, p {
        text-align: center;
         margin-left: auto;
        margin-right: auto;
    }

</style>

<br>

<body style="background-color:#1c87c9;">


<section id="mainBox">
    <h1>{{ item.name}}</h1>

    <br>
    <img src="/static/{{item.photo}}" class="center"/>
    <h3><strong>User:</strong> {{ item.user.username }}</h3>
    <h3><strong>Community:</strong> {{ item.community }}</h3>
    <h3><strong>Description:</strong> {{ item.text }}</h3>
    <h3><strong>Likes:</strong> {{ item.likes }}</h3>
    <h3><strong>Dislikes:</strong> {{ item.dislikes }} </h3>

</section>
{% endblock content %}
