{% extends "layout.html" %} {% block content %}
<style>
    #mainBox {
        width: 50%;
        margin: auto;
        background-color: MediumTurquoise;
        min-height: 100%;
    }

    #mainBox ul {
        display: none;
    }

    #mainBox img {
        margin-left: 1em;
        margin-right: 1em;
        max-height: 22.5em;
        width: 50%;
    }

    #mainBox h2,h3,h1, img, p {
        text-align: center;
         margin-left: auto;
        margin-right: auto;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<br>

<body style="background-color:#1c87c9;">


<section id="mainBox">
    <h1>{{ item.name}}</h1>

    <br>

    <h3>User:</h3>
    <p>{{ item.user.username }} </p>


    <h3>Community:</h3>
    <p>{{ item.community }} </p>

    <h3>photo:</h3>
    <img src="/static/{{item.photo}}" class="center"/>

    <h3>Description:</h3>
    <p>{{ item.text }} </p>

    <h3>Likes:</h3>
    <p>{{ item.likes }} </p>

    <h3>Dislikes:</h3>
    <p>{{ item.dislikes }} </p>

</section>
{% endblock content %}
