{% extends "layout.html" %} {% block content %}

<div class="container-lg mt-4">
  {% for msg in get_flashed_messages() %}
  <div class="alert alert-success" role="alert">{{ msg }}</div>
  {% endfor %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4 text-center">Sign Up</legend>
      <div class="form-group">
        {{ form.username.label(class="form-control-label") }} {% if
        form.username.errors %} {{ form.username(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.username.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
    </form>
</div>

{% endblock content %}
