{% extends "layout.html" %} {% block content %}
<div class="card" style="margin-left: 200px; margin-right: 200px; margin-top: 50px">
    <div class="card-header">
        Update Profile
    </div>
    <div class="card-body">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
    
            {{ form.username.label(class="form-label") }}
    
            {{ form.username(class="form-control", value=name_to_update.username) }}
            <br/>
    
            {{ form.email.label(class="form-label") }}
    
            {{ form.email(class="form-control", value=name_to_update.email) }}
    
            <br/>

            {{ form.bio.label(class="form-label") }}
    
            {{ form.bio(class="form-control", value=name_to_update.bio) }}
    
            <br/>

            {{ form.profile_picture.label(class="form-label") }}
    
            {{ form.profile_picture(class="form-control", value=name_to_update.profile_picture) }}
    
            <br/>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
              </div>
    
        </form>
    </div>


</div>
{%endblock content %}