{% extends "layout.html" %} {% block content %}
<div class="card mb-3">
  <h3 class="card-header">My Profile</h3>
  <div class="card-body">
    <div class="card border-secondary mb-3">
      <h4 class="card-header"></h4>
      <div class="d-grid gap-2 text-center">
        <p style="text-align: center">
          <img
            src="csc450fa22-project-team-3/images/PrototypePhotos/postitem.png"
            width="200px"
            height="200px"
          />
        </p>
        <h4>EMAIL:</h4>
        <p>tes1006@gmail.com</p>
        <button class="btn btn-sm btn-outline-dark" type="button">
          My Communities
        </button>
        <button class="btn btn-sm btn-outline-dark" type="button">
          My Activity
        </button>
        <p></p>
      </div>
      <h2>My Posts:</h2>
      <div
        class="card border-secondary mb-3"
        style="margin-left: 200px; margin-right: 200px"
      >
        <div class="card-header">
          <p style="text-align: center">
            <img
              src="/Users/yttfk/Desktop/csc450fa22-project-team-3/images/bantest.png"
              width="800px"
              height="400px"
            />
          </p>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            This is my collection of shoes that I have. I have been collecting
            all sorts of shoes for the past 25 years and the hard work has
            finally paid off. The value of the entire collection is estimated to
            be around $100,000.
          </h4>
        </div>
        <p></p>

        {%endblock content %}
      </div>
    </div>
  </div>
</div>
